* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h2 {
  color: white;
}

p {
  color: #16915e;
}

.input-class {
  width: 73vw;
  font-size: 4vw;
  margin: 10px -20px 0 0;
  background-color: lightcoral;
}

.result-class {
  width: 73vw;
  margin: 10px -20px 0 0;
  background-color: #1fdb8d;
  margin-bottom: -11px;
}
.form-class {
  margin-bottom: -7.5px;
}

.big-container {
  position: absolute;
  left: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

@media screen and (min-width: 800px) {
  .input-class {
    background-color: brown;
    width: 70vw;
    font-size: 3.2vw;
  }
  .result-class {
    width: 70vw;
  }
}

@media screen and (min-width: 1000px) {
  .input-class {
    background-color: yellow;
    width: 68vw;
    font-size: 3.3vw;
  }
  .result-class {
    width: 68vw;
  }
}
