* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h2 {
  color: white;
}

p {
  color: #16915e;
}

.input-class {
  font-size: 3.5vw;
  margin-left: 0.5rem;
  border: none;
  width: calc(100% - 6.5vw);
}

.input-class:focus {
  border: none;
  outline: none;
}

.result-class {
  width: 72vw;
  margin: 10px -20px 0 0;
  background-color: #1fdb8d;
  margin-bottom: -11px;
  padding: 0.7rem;
}

.search-icon {
  width: 3.5vw !important;
  height: 3.5vw !important;
}

.result-class:hover {
  background-color: #2aaa75;
  cursor: pointer;
}

.result-class:last-child {
  border-radius: 0rem 0rem 1rem 1rem;
  margin-bottom: 3rem;
}

.form-class {
  width: 72vw;
  margin-bottom: -7.5px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border: solid black 1px;
  background: white;
  border-radius: 1rem 1rem 0rem 0rem;
}

.form-class:last-child {
  border-radius: 1rem;
}

.big-container {
  position: absolute;
  left: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

.icon-class {
  margin-right: 0.5rem;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@media screen and (min-width: 800px) {
  .result-class {
    width: 72vw;
  }
  .form-class {
    width: 72vw;
  }
}

@media screen and (min-width: 1000px) {
  .form-class {
    width: 70vw;
  }
  .result-class {
    width: 70vw;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
